$font-sans-stack: Helvetica, Arial, Verdana, sans-serif;
$font-serif-stack: Georgia, Palatino, "Book Antiqua", "Times New Roman", serif;
$font-mono-stack: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
